<!doctype html>
  {% block htmlTag %}
    <html lang="{{site.lang}}" dir="{{site.dir}}">
  {% endblock htmlTag %}
  <head>
    {% block headContent %}
      {% include 'partials/head-content.njk' %}
    {% endblock %}
  </head>

<body layout="with-sidebar">
  <!-- header -->
  <div class="ga-head-main">
    {% block header %}
      {% include 'partials/header.njk' %}
    {% endblock header%}
  </div>
  <!-- main -->
  <div class="ga-content-l"></div>
    <div class="ga-content-side">
    {% block sidebar %}
      <rocket-drawer id="sidebar">
        <nav slot="content" id="sidebar-nav">
          {% include 'partials/logoLink.njk' %}
          <rocket-navigation>
            <ul>
              {%- for entry in collections.header %}
                <li>
                  <a href="{{ entry.url | url }}" class="
                    {% if entry.url == page.url %} current {% endif %}
                    {% if (page.url.search(entry.url) !== -1) and (page.url !== '/') %} active {% endif %}
                  ">{{ entry.data.eleventyNavigation.key }}</a>
                </li>
              {%- endfor %}
            </ul>
            {% include 'partials/mobile-sidebar-bottom.njk' %}
          </rocket-navigation>
        </nav>
      </rocket-drawer>
    {% endblock sidebar %}
 
    </div>
  <div class="ga-content-main">
    <!-- sidebar only for mobile -->   <!-- main -->
    {% block main %}
      <main class="markdown-body">
        {{ content.html | safe }}
        {% include 'partials/previousNext.njk' %}
      </main>
    {% endblock main %}
  </div>
  <div class="ga-content-r"></div>
  <!-- footer -->
  <div class="ga-foot-main">
    {% block footer %}
      {% include 'partials/footer.njk' %}
      {% include 'partials/pageJs.njk' %}
      {% include 'partials/mobileNavigationJs.njk' %}
    {% endblock footer %}
  </div>
</body>

</html>