{% extends 'layout-default.njk' %}

{% block themeBody %}
    <div class="banner rocket-content ga-head2-main">
      <p>[ad banner goes here]</p>
    </div>
    <div class="ga-head3-main">
      <div class="logo-text">{{site.name}}</div>
    </div>
    <div class="ga-content-l"></div>
    <div class="ga-content-r"></div>
    {% include 'partials/bottom.njk' %}
{% endblock themeBody %}
