body[layout='home'] {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 65px 780px auto;
  grid-template-areas:
    "head-main     head-main"
    "content-main  content2-side"
    "foot-main     foot-main"
}

.header-grid-area {
  grid-area: head-main;
}
.ga-content-main {
  grid-area: content-main;
}
.ga-content2-side {
  grid-area: content2-side;
}
.ga-foot-main {
  grid-area: foot-main;
}