body[layout='home'] {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1fr  minmax(440px, 704px) 300px 1fr;
  grid-template-rows: 130px 55px 50px minmax(350px, auto) auto;
  grid-template-areas:
    "content-l  head-main     head-main     content-r"
    "content-l  head2-main    head2-main    content-r"
    "content-l  head3-main    head3-main    content-r"
    "content-l  content-main  content-side  content-r"
    "content-l  foot-main     foot-main     content-r"
}
body[layout='with-sidebar'] {
  grid-auto-rows: 0; 
  grid-auto-columns: 0;
  overflow-x: hidden;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1fr 300px minmax(665px, 830px) 1fr;
  grid-template-rows: 81px minmax(350px, auto) 100px;
  grid-template-areas:
    "content-l  head-main     head-main     content-r"
    "content-l  content-side  content-main  content-r"
    "content-l  foot-main     foot-main     content-r"
}

.ga-head-main {
  grid-area: head-main;
}

.ga-head2-main {
  grid-area: head2-main;
}

.ga-head3-main {
  grid-area: head3-main;
}

.ga-content-l {
  grid-area: content-l;
}
.ga-content-side {
  grid-area: content-side;
}
.ga-content-main {
  grid-area: content-main;
}
.ga-content-side {
  grid-area: content-side;
}
.ga-content-r {
  grid-area: content-r;
}

.ga-foot-main {
  grid-area: foot-main;
}



@media (max-width: 1025px) {
  .container {
    display: grid;
    grid-template-columns: minmax(692px, 1025px);
    grid-template-rows: 56px minmax(350px, 1fr) 100px;
    grid-template-areas:
      "head-main"
      "content-main"
      "foot-main";
    /* next 4 lines prevents stray grid items from being written WTF???????? */
    grid-auto-rows: 0; 
    overflow-y: hidden;
    grid-auto-columns: 0;
    overflow-x: hidden;
  }
}