<!doctype html>
  {% block htmlTag %}
    <html lang="{{site.lang}}" dir="{{site.dir}}">
  {% endblock htmlTag %}
  <head>
    {% block headContent %}
      {% include 'partials/head-content.njk' %}
    {% endblock %}
  </head>

  <body layout="home">
      <div class="rocket-content header-grid-area">
        {% block header %}
          {% include 'partials/header.njk' %}
        {% endblock header%}
      </div>

      <div class="ga-content-main">
        <p>
          <img src="{{ '_assets/_static/images/khara-woods-OGV99Jhhvro-unsplash_.jpg' | asset | url }}" role="presentation"/>
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore,
          sed.
        </p>
      </div>

      <div id="right-panel" class="ga-content2-side">
      </div>

      <div class="theme-able   ga-foot-main">
        <p>Footer</p>
      </div>
  </body>
</html>
