<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.analytics }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-36EWBZYBZ7');
    gtag('config', 'UA-52870008-2');
  </script>
