<div class="content-footer">
  <p>
    Want to see how hard I worked to write this page? The source is here:
    <a href="{{ site.gitSiteUrl }}/edit/master/{{ page.inputPath }}">Check it out on GitHub!</a>
  </p>
</div>
