body[layout='home'] {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 65px 780px auto;
  grid-template-areas:
    "head-main     head-main"
    "content-main  content2-side"
    "foot-main     foot-main"
}

.header-grid-area {
  grid-area: head-main;
}
.ga-content-main {
  grid-area: content-main;
}
.ga-content2-side {
  grid-area: content2-side;
}
.ga-foot-main {
  grid-area: foot-main;
}
.ga-content-l {
  grid-area: content-l;
}
.ga-content-side {
  grid-area: content-side;
}
.content-grid-area {
  grid-area: content-main;
}
.sidebar-grid-area {
  grid-area: content-side;
}
.ga-content-r {
  grid-area: content-r;
}

body[layout='sidebar'] {
  grid-auto-rows: 0;
  grid-auto-columns: 0;
  overflow-x: hidden;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1fr 300px minmax(665px, 830px) 1fr;
  grid-template-rows: 81px minmax(350px,auto) auto;
  grid-template-areas:
    "content-l  head-main     head-main     content-r"
    "content-l  content-side  content-main  content-r"
    "content-l  foot-main     foot-main     content-r"
}