#right-panel {
  background: white url(/_merged_assets/_static/images/yulia-matvienko-FR5RL5kI5T8-unsplash_.jpg);
  background-size: cover;
}
.header-grid-area {
  background-color: grey;
}
.sidebar-grid-area {
  background-color: salmon;
}
.content-grid-area {
  background-color: white;
}

.ga-content-main {
  display: grid;
  align-content: center;
  justify-content: center;
}

.rocket-content {
  display: grid;
  justify-content: center;
  align-items: center;
  border: solid black 3px;
  border-radius: 3px;
  font-size: 16px;
  padding: 5px;
}

.theme-able {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid darkolivegreen;
  font-weight: bold;
  border-radius: 10px;
  font-size: 20px;
  padding: 5px;
  background: url(/_assets/_static/images/incomplete_wallpaper.svg) center center fixed; 
  -webkit-background-size: 200pc;
  -moz-background-size: 200pc;
  -o-background-size: 200px;
  background-size: 200px;
}

.theme-able p {
  margin: 0 0 5px 0;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 300;
  font-size: 12px;
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}
